/**
** button */
.btn {
  padding: 11px 20px;
  border-width: 2px;
  position: relative;
  z-index: 1;
  &[disabled],
  &[disabled]:hover {
    opacity: .4;
    .rippleJS{
      display: none;
    }
  }
  &:focus,
  &:active:focus {
    outline: 0;
    outline-offset: 0;
  }
  &:active,
  &.active{
    box-shadow: none;
  }
}

.btn-default {
  color: #05DB5C;
  background-color: transparent;
  border-color: #05DB5C;
  &[disabled]{
    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover {
      color: #05DB5C;
      background-color: transparent;
      border-color: #05DB5C;
    }
  }
  &:focus{
    border-color: #05DB5C;
  }
  &:hover,
  &:active,
  &:active:focus,
  &:active:hover {
    color:#ffffff;
    background-color: #05DB5C;
    border-color: #05DB5C;
  }
  //click effect
  &:active:focus,
  &:active:hover{
    border-color: #50e58d;
    transition: border-color 1s;
  } 
}

.open>.btn-default.dropdown-toggle,
.open>.btn-default.dropdown-toggle:hover,
.open>.btn-default.dropdown-toggle:focus {
  color: #05DB5C;
  border-color: #05db5c;
  box-shadow: none;
}

.error .btn-default:hover,
.open.error>.btn-default.dropdown-toggle:focus,
.open.error>.btn-default.dropdown-toggle,
.bootstrap-select.error .dropdown-toggle,
.bootstrap-select.error .dropdown-toggle:focus {
  border-color: #F1485E;
  color: #F1485E !important;
}

.btn-primary {
  background-color: #05DB5C;
  border-color: #05DB5C;
  &[disabled]{
    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover {
      background-color: #05DB5C;
      border-color: #05DB5C;
    }
  }
  &:focus{
    background-color: #05DB5C;
    border-color: #05DB5C;
  }
  &:hover,
  &:active,
  &:active:focus,
  &:active:hover {
    background-color: #05A345;
    border-color: #05A345;
  }
  //click effect
  &:active:focus,
  &:active:hover{
    border-color: #4dc26b;
    transition: border-color 1s;
  }
}

.btn-info {
  background-color: #008BF8;
  border-color: #008BF8;
  &[disabled]{
    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover {
      background-color: #008BF8;
      border-color: #008BF8;
    }
  }
  &:focus{
    background-color: #008BF8;
    border-color: #008BF8;
  }
  &:hover,
  &:active,
  &:active:focus,
  &:active:hover {
    background-color: #006EC5;
    border-color: #006EC5;
  }
  //click effect
  &:active:focus,
  &:active:hover{
    border-color: #4d99d6;
    transition: border-color 1s;
  } 
}

.btn-link {
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: #05DB5C;
  &:hover,
  &:active,
  &:active:focus,
  &:active:hover {
    color: #05A345;
  }
  &[disabled]{
    &:hover{
      color: #05DB5C;
    }
  }
}

.btn-lg {
  padding: 15px 24px;
  border-radius: 4px;
}

.btn-sm {
  padding: 7px 20px;
  letter-spacing: 1px;
  border-radius: 2px;
}

.btn-xs {
  padding: 4px 8px;
  letter-spacing: 1px;
  border-width: 1px;
  font-weight: 400;
  border-radius: 2px;
}

/**
** select **/

.bootstrap-select>.dropdown-toggle.bs-placeholder {
  color: #05db5c;
  &:active,
  &:hover,
  &:focus{
    color: #05db5c;
    border-color: #05db5c;
  }
  .filter-option {
    text-overflow: ellipsis;
    // width: 100% !important;
    // padding-right: 15px;
    text-align: center;
  }
}

.bootstrap-select .dropdown-toggle{
  &:hover{
    background-color: #fff;
    color: #05db5c;
  }
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
.bootstrap-select>select{
  left: 0;
}
.bootstrap-select.fit-width{
  max-width:100%;
  .filter-option{
    text-overflow:ellipsis;
  }
}

.bootstrap-select{
  .dropdown-toggle{
    border: none;
    padding: 0 12px 2px 12px;
    box-shadow: none;
    font-size: 20px;
    border-bottom: 2px solid #05DB5C;
    border-radius: 0;
    .filter-option{
      .rippleJS{
        display: none;
      }
    }
  }
  .bs-caret {
    margin-left: -7px;
  }
  .filter-option {
  text-align: center;
  }
  .dropdown-menu{
    min-width: 120px;
    padding: 0;
    border-radius:0;
    border: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    .dropdown-header{
        padding:16px 16px 0 16px;
        line-height: 19px;
        font-size: 16px;
    }
    .divider{
      display: none;
    }
    >li{
      >a{
        color:#181F22;
        padding:16px 16px;
        line-height: 19px;
        font-size: 16px;
        .opt{
          padding-left:32px;
        }
        &:hover{
          color: #05DB5C;
          background:#F1F3F4;
        }
        &:focus{
          outline: 0;
          background:transparent;
        }
        &:active{
          color:#181F22;
          background:rgba(5, 219, 90, .2);
        }
      }
      &.disabled{
        a{
          color: #C4D0D5;
          background: none;
        }
        &:hover{
          background:none;
        }
        .rippleJS{
          display: none;
        }
      }
      .divider-line{
        padding-top:0;
        padding-bottom: 0;
        color:#dddddd;
        letter-spacing: 5px;
        line-height: 0;
        height: 2px;
        font-weight:500;
        &:hover,
        &:active{
          color:#dddddd;
          background: none;
        }
      }
      &.selected{
        a{
          color: #05DB5C;
          &:hover{
            color: #05DB5C;
            background:#F1F3F4;
          }
          &:active{
            color:#181F22;
            background:rgba(5, 219, 90, .2);
          }
        }
      }
    }
    .rippleJS .ripple{
      background-color: #05DB5C;
    }
  }
  &.btn-group{
    .dropdown-toggle{
      .filter-option{
        width:calc(100% - 10px);
      }
    }
    .dropdown-menu.open{
      // max-height: 300px !important;
      overflow-y: auto;
    }
  }
  &.disabled{
    .dropdown-toggle{
      border-color:#C4D0D5;
      color:#C4D0D5;
      background: none;
    }
  }
}

//** select component refactory

.select-component{
  &.fit-width{
    width: auto;
    max-width:100%;
    display: inline-block;
    line-height:1;
  }
  &.open{
    position: relative;
  }
  .btn-default {
    border: none;
    padding: 0 26px 2px 12px;
    box-shadow: none;
    font-size: 20px;
    border-bottom: 2px solid #05DB5C;
    border-radius: 0;
    max-width:100%;
    &:hover{
      color: #05DB5C;
      border-color: #05db5c;
      background: none;
    }
  }
  .caret{
    position: absolute;
    right: 12px;
    top: 50%;
  }
  &.dropup .caret{
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-bottom: 0;
  }
  .filter-option{
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
  }
  .dropdown-menu{
    padding: 0;
    min-width: 100%;
    margin-top:0;
    box-shadow: 0 2px 6px rgba(0,0,0,.25);
    border:0;
    ul{
      overflow: auto;
      overflow-x: hidden;
    }
    li{
      position:relative;
      a{
        color: #181F22;
        padding: 16px 16px;
        line-height: 1;
        font-size: 16px;
        display:block;
        font-weight: 400;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
          color: #05DB5C;
          background: #F1F3F4;
        }
      }
      &.selected a {
        color: #05DB5C;
        &:hover {
          color: #05DB5C;
          background: #F1F3F4;
        }
      }
      &.disabled a {
        cursor: not-allowed;
        color: #c4d0d5;
        background: none;
      }
      .divider-line{
       border-bottom: dashed 2px #c4d0d5;
       font-size: 0;
       padding: 0;
       margin: 0 16px;
       height: 0;
      }
    }
  }
}
.single-destinations .select-component,
.adults-children-dropdown .select-component:first-child,
.adults-children-dropdown .dropdown-wrap:first-child{
  margin-right: 7px;
}



/**
** checkbox */

.checkbox {
  padding-left: 26px;
  line-height: 1;
  input[type="checkbox"] {
    opacity: 0;
    margin-left: -26px;
    &:checked{
      + label:after{
        font-family: 'FontAwesome';
        content: "\f00c";
      }
    }
    &:disabled{
      + label{
        color: #C4D0D5;
        cursor: not-allowed;
        &:before,
        &:after{
          opacity: 0.65;
        }
      }
    }
  }
  label {
    display: inline-block;
    position: relative;
    &:before,
    &:after{
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      line-height: 18px;
      left: 0;
      top: 1px;
      margin-left: -26px;
    }
    &:before{
      content: "";
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &:after{
      margin-left: -26px;
      font-size: 11px;
      color: #555555;
    }
  }
}

.checkbox-primary input[type="checkbox"]:checked{
  +label{
   &:before {
      background-color: #05DB5C;
      border-color: #05DB5C;
    }
    &:after {
      color: #fff;
    }
  }
}

.checkbox.checkbox-inline {
  margin-top: 0;
}


/**
** radio */

.radio {
  padding-left: 20px;
  margin:0;
  line-height: 1;
  input[type="radio"] {
    opacity: 0;
  }
  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    color: #181F22;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 2px;
      margin-left: -20px;
      border: 1px solid #93A4AC;
      border-radius: 50%;
      background-color: #fff;
    }
  }
  input[type="radio"]:checked+label {
    color: #00DD55;
    &:before {
      background: #00DD55;
      border: 1px solid #00DD55;
    }
    &:after {
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      top: 7px;
      left: 5px;
      background-color: #fff;
      margin-left: -20px;
      border-radius: 50%;
    }
  }
  input[disabled="disabled"]+label {
    color: #C4D0D5;
    cursor: not-allowed;
    &:before {
      border-color: #C4D0D5;
    }
  }
}
