/**
** button */

.btn {
  border-radius: 3px;
  font-size: px-to-rem(24px);
  border: 2px solid $green-darker;
  color: $green-darker;
  line-height: 32px;
  text-align: center;
  padding: 16px;
}

.btn-lg{
  width: 100%;
  display: block;
}

.btn-orange{
  background: $orange;
  color: $white;
  border-color: $orange;
}
