//**
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
* {
  box-sizing: border-box;
}

html{
  font-family: $family-serif;
  color: $font-color;
  font-size: $font-size-base;
  font-weight: 400;
}
/**
** clearfix **/

.clearfix {
  @include clearfix;
}

/**
** ul/ol nostyle **/

.nostyle {
  padding: 0;
  list-style: none;
}

/**
** left right **/
.left {
  float: left;
}
.right {
  float: right;
}

/**
** **/
.container-inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/**
** header **/
.header {
  padding: 15px 10%;
  .logo{
    font-size: 0;
    a{
      padding: 6px 0;
      display: block;
    }
  }
}
